.menu {
	width: 30px;
	height: 30px;
	display: none;
}

@media screen and (max-width: 767px) {
	.nav {
		display: none;
	}

	.home-subtitle {
		padding: 0 20px;
		font-size: 20px;
	}

	.home-title {
		padding: 0 20px;
		font-size: 28px;
		margin-bottom: 20px;
	}

	.menu {
		display: block;
		left: 15px;
	}

	.header-inner {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 5%;
	}

	.header {
		height: 70px;
	}

	.logo {
		padding-bottom: 10px;
	}

	.menu {
		margin-bottom: 10px;
	}

	.contact-item {
		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.contact-inner {
		justify-content: space-around;
		width: 100%;
	}

	.modal {
		padding: 20px;
	}

	.modal-form__input {
		font-size: 14px;
	}

	.modal-close {
		width: 25px;
	}

	.modal-head {
		font-size: 14px;
	}

	.dropdown-select {
		font-size: 14px;
	}

	.offer-item__inner {
		padding: 0 10px;
	}

	.quote-text {
		padding:  0 20px;
	}
}